@media (max-width: 1300px) {
    .main .overview {
        width: 95% !important;
    }
    .mid-selections {
        display: none !important; /* Force hide mid and left sections */
    }
    .nav .hidden-menu {
        display: block !important;
        color: #F0F0F0;
        cursor: pointer;
    }
    .main .mid-part {
        width: 90% !important;
    }
}

body {
    display: flex;
    justify-content: center;
    background-color: #0A0707;
    color: #F0F0F0;
    font-family: 'Geist Mono', sans-serif; /* Use Geist Mono font for the entire body */
    margin: 0;
    flex-direction: column;
    align-items: center;
}

/* NAV */
.nav {
    position: sticky;
    top: 20px;
    z-index: 1000;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    height: 70px;
    width: 75%;
    align-items: center;
    justify-content: space-between;
    background-color: #0A0707;
    border-radius: 15px;
    padding: 0 20px;
    transition: opacity 0.3s ease-in, box-shadow 0.3s ease-out; /* Specify properties */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}
.nav:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
}

.nav .menu {
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.clickable-wrapper {
    display: flex; /* Ensure the image and text are aligned horizontally */
    align-items: center;
    text-decoration: none; /* Remove underline from the link */
    color: #F0F0F0; /* Inherit the color from the parent */
    transition: 0.3s ease-in, 0.3s ease-out;
}
.clickable-wrapper:hover {
    color: plum; /* Inherit the color from the parent */
}

.clickable-wrapper .text-wrapper {
    padding-left: 5px;
    font-size: 24px;
}

#earthling-icon {
    width: 45px;
    height: 45px;
}

.nav .mid-selections {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping of child elements */
    justify-content: space-between;
    font-size: 18px;
    gap: 20px; /* Adds a 20px gap between child elements */
}
.nav .mid-selections * {
    padding: 5px;
}
.nav .mid-selections .about-us,
.nav .mid-selections .features,
.nav .mid-selections .enterprise,
.nav .mid-selections .careers,
.nav .mid-selections .pricing {
    text-decoration: none;
    color: #888888;
    transition: 0.3s ease-in, 0.3s ease-out; /* Specify properties */
}
.nav .mid-selections .about-us:hover,
.nav .mid-selections .features:hover,
.nav .mid-selections .enterprise:hover,
.nav .mid-selections .careers:hover,
.nav .mid-selections .pricing:hover {
    text-decoration: none;
    color: #F0F0F0;
}


.hidden-menu {
    display: none;
    position: relative; /* Position relative to contain the dropdown */
}

.hidden-menu img {
    transition: transform 0.15s ease-in-out; /* Smooth transition for the rotation */
}

.hidden-menu img:hover {
    transform: rotate(90deg); /* Rotate the image 90 degrees on hover */
}

.dropdown-content {
    opacity: 0; /* Initially invisible */
    visibility: hidden; /* Initially hidden */
    position: absolute; /* Position absolutely within the relative container */
    top: 100%; /* Position directly below the image */
    left: 50%; /* Start positioning from the center */
    transform: translateX(-50%); /* Center the dropdown horizontally */
    background-color: #0A0707;
    min-width: 160px;
    z-index: 1;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(15, 129, 223, 0.2);
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out; /* Transition for opacity and visibility */
}

.dropdown-content ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.dropdown-content a {
    color: #F0F0F0;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: #888888;
    transition: color 0.3s ease-in, background-color 0.3s ease-out;
    border-radius: 15px; /* Transition for color and background-color */
}

.dropdown-content a:hover {
    background-color: #0A0707;
    color: #F0F0F0;
}

.hidden-menu:hover .dropdown-content {
    opacity: 1; /* Make visible */
    visibility: visible; /* Ensure visibility */
}

.left-selections {
    display: flex;
    align-items: center;
    padding-right: 10px;
    gap: 15px;
}
.left-selections .signin-button {
    color: #F0F0F0;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s ease-in, 0.3s ease-out;
}
.left-selections .signin-button:hover {
    color: plum;
}
.download-button {
    font-size: 18px;
    cursor: pointer;
    background-color: #F0F0F0;
    padding: 7px;
    border-radius: 10px;
    color: #0A0707;
    transition: 0.3s ease-in, 0.3s ease-out;
}
.download-button:hover {
    background-color: plum;
    color: #0A0707;
}
/* End Of NAV */


/* MAIN */
.main {
    margin-top: 50px;
    width: 85%;
    align-items: center;
    justify-content: center;

}

.main .top-part {
    position: relative;
    display: flex; /* Make .top-part a flex container */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    flex-direction: column; /* Stack items vertically */
    height: 100%; /* Ensure the container has a height to center vertically */
}
#top-image {
    width: 100%;
    height: auto;
    border-radius: 15px;
}
.main .top-part .product-purpose {
    color: #F0F0F0;
    font-size: 24px;
    text-align: center;
    margin-bottom: 120px;
}
/* End of MAIN */



/* HOMEPAGE */
.main .overview {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%; /* Default width */
    margin: 0 auto;
}
.main .overview .overview-images{
    width: 100%;
    height: auto;
}

.main .overview .image-title {
    padding-top: 70px;
    padding-bottom: 40px;
    text-align: center;
    font-size: 24px;
}

.main .mid-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%; /* Define a width for centering */
    margin: 0 auto; /* Center horizontally */
}

.main .mid-part .research {
    color: #F0F0F0;
    font-size: 24px;
    padding-bottom: 100px;
    text-align: center; /* Center the text */
}

.news {
    width: 100%; /* Ensure the news container fills the mid-part */
    margin: 0 auto; /* Center horizontally */
}

.news .left-news {
    width: 45%; /* Adjust width to fit side by side */
    float: left; /* Float elements to the left */
}
.news .right-news {
    width: 45%; /* Adjust width to fit side by side */
    float: right; /* Float elements to the left */
}

#research-left, #research-right {
    width: 100%; /* Ensure images fill their containers */
    height: auto; /* Maintain aspect ratio */
    border-radius: 10px; /* Optional: Add rounded corners */
}

.image-label {
    text-align: left; /* Align the label text to the left */
    margin-top: 10px; /* Add space between the image and the label */
    font-size: 24px; /* Adjust font size as needed */
    color: #FFFFFF; /* Set text color */
    cursor: pointer;
}

.image-date {
    text-align: left; /* Align the date text to the left */
    margin-top: 10px; /* Add space between the image and the date */
    font-size: 20px; /* Adjust font size as needed */
    color: #888888; /* Set text color */
}

.see-more {
    margin: 100px auto 150px auto; /* Center horizontally and add vertical spacing */
    text-align: center; /* Center the button text */
    font-size: 24px; /* Adjust font size as needed */
    color: #F0F0F0; /* Set text color */
    cursor: pointer;
    transition: 0.3s ease-in, 0.3s ease-out;
}
.see-more:hover {
    color: lightblue; /* Set text color */
}

.main .bottom-part {
    height: 50px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 120px;
    background-color: #1E1E1E;
    color: #F0F0F0;
    border-radius: 15px;
    font-size: 20px;
    margin: 0 auto 100px auto;
    border: 2px solid #F0F0F0;
}
/* End Of HOMEPAGE */

/* ABOUTPAGE */

/* End of ABOUTPAGE */


/* FOOTER */
.footer {
    width: 90%;
    background-color: #0A0707;
    color: #F0F0F0;
    padding: 20px;
    border-top: 1px solid #888888;
}

.footer .links {
    width: 30%;
    display: flex;
    gap: 25px; /* Add a 20px gap between child elements */
    margin: 25px auto; /* Center child elements horizontally */
    justify-content: center; /* Center child elements horizontally */
}

.footer .links .pricing,
.footer .links .careers,
.footer .links .term,
.footer .links .github,
.footer .links .jira {
    color: #888888;
    text-decoration: none;
    cursor: pointer;
}
.footer .links .pricing:hover,
.footer .links .careers:hover,
.footer .links .term:hover,
.footer .links .github:hover,
.footer .links .jira:hover {
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
}

.footer .contact-box {
    width: auto;
    display: flex;
    flex-direction: row;
    gap: 5px; /* Add a 20px gap between child elements */
    margin: 40px auto; /* Center child elements horizontally */
    justify-content: center;
}

.footer .contact-box .contact {
    margin: 0;
    color: #F0F0F0;
}
.footer .contact-box .email {
    margin: 0;
    text-decoration: none;
    color: #F0F0F0;
}
.footer .contact-box .email:hover {
    margin: 0;
    text-decoration: none;
    color: pink;
}


table, th, td {
    border: 1px solid white;
}
/* End Of FOOTER */